<div class="flex w-full flex-col">
  <app-header></app-header>

  <main class="flex-auto">
    <!-- Hero Section -->
    <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <div appScrollAnimation>
          <h1>
            <span class="font-display block text-base font-semibold text-neutral-950">Submit a Talk</span>
            <span class="sr-only"> - </span>
            <span class="font-display max-w-3xl mt-6 block text-5xl font-medium tracking-tight text-neutral-950 sm:text-6xl">Share your work.</span>
          </h1>
          <div class="mt-6 max-w-3xl text-xl text-neutral-600">
            <p>Inspire dialogue, gain feedback, and connect with researchers across Africa by giving a talk.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Content Section -->
    <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="grid grid-cols-1 gap-x-8 gap-y-16 lg:grid-cols-2">
          <!-- Presentation Details -->
          <div appScrollAnimation>
            <h2 class="font-sans text-lg font-bold text-green-950">PalmX Thursdays Presentation</h2>
            <dl class="mt-6 grid grid-cols-1 gap-8 text-sm sm:grid-cols-2">
              <div>
                <dt class="font-display font-semibold text-green-950">Time</dt>
                <dd class="pt-4">6 PM GMT</dd>
              </div>
              <div>
                <dt class="font-display font-semibold text-green-950">Your Time</dt>
                <dd class="pt-4">18:00 GMT</dd>
              </div>
            </dl>

            <div class="mt-8 pt-16 relative before:absolute after:absolute before:bg-green-800 after:bg-green-800/10 before:top-0 before:left-0 before:h-px before:w-6 after:top-0 after:right-0 after:left-8 after:h-px">
              <h2 class="font-display text-base font-semibold text-green-950">
                <span class="font-sans text-green-800">5 minutes </span>— Introduction
              </h2>
              <p class="mt-6 text-base text-neutral-600">Brief introduction of the speaker and the topic. Set the context and outline the flow of the session.</p>
            </div>

            <div class="mt-8 pt-16 relative before:absolute after:absolute before:bg-green-800 after:bg-green-800/10 before:top-0 before:left-0 before:h-px before:w-6 after:top-0 after:right-0 after:left-8 after:h-px">
              <h2 class="font-display text-base font-semibold text-green-950">
                <span class="font-sans text-green-800">35 minutes</span>— Presentation
              </h2>
              <p class="mt-6 text-base text-neutral-600">The speaker delivers their full presentation without interruptions. This allows for a smooth, uninterrupted explanation of their research or project.</p>
            </div>

            <div class="mt-8 pt-16 relative before:absolute after:absolute before:bg-green-800 after:bg-green-800/10 before:top-0 before:left-0 before:h-px before:w-6 after:top-0 after:right-0 after:left-8 after:h-px">
              <h2 class="font-display text-base font-semibold text-green-950">
                <span class="font-sans text-green-800">20 minutes</span>— Q&amp;A and Discussion
              </h2>
              <p class="mt-6 text-base text-neutral-600">After the presentation, the floor is opened for questions and discussion. The audience can seek clarifications, explore deeper ideas, and engage with the speaker in a relaxed, conversational style.</p>
            </div>

            <div class="mt-16 pt-16 relative before:absolute after:absolute before:bg-green-800 after:bg-green-800/10 before:top-0 before:left-0 before:h-px before:w-6 after:top-0 after:right-0 after:left-8 after:h-px">
              <h2 class="font-display text-base font-semibold text-green-950">Follow us</h2>
              <ul role="list" class="flex gap-x-10 text-neutral-950 mt-6">
                <li>
                  <a aria-label="LinkedIn" class="transition hover:text-neutral-700" href="https://www.linkedin.com/company/palmx-institute">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-linkedin h-6 w-6" aria-hidden="true">
                      <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                      <rect width="4" height="12" x="2" y="9"></rect>
                      <circle cx="4" cy="4" r="2"></circle>
                    </svg>
                  </a>
                </li>
                <li>
                  <a aria-label="Youtube" class="transition hover:text-neutral-700" href="https://www.youtube.com/@PalmXInstitute">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-youtube h-6 w-6" aria-hidden="true">
                      <path d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"></path>
                      <path d="m10 15 5-3-5-3z"></path>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <!-- Talk Submission Form -->
          <div class="lg:order-last" appScrollAnimation>
            <form [formGroup]="talkForm" (ngSubmit)="onSubmit()">
              <h2 class="font-display text-base font-semibold text-neutral-950">Talk</h2>
              <h4 class="font-display mt-2 text-sm text-neutral-600">All (*) are required</h4>
              
              <div class="isolate mt-6 -space-y-px rounded-2xl bg-white/50">
                <!-- Name Field -->
                <div class="group relative z-0 transition-all focus-within:z-10">
                  <input 
                    id="name" 
                    formControlName="name"
                    autocomplete="name" 
                    required 
                    placeholder=" " 
                    class="peer block w-full border border-neutral-300 bg-transparent px-6 pt-12 pb-4 text-base/6 text-green-950 ring-4 ring-transparent transition group-first:rounded-t-2xl group-last:rounded-b-2xl focus:border-green-950 focus:ring-green-950/5 focus:outline-none" 
                    type="text"
                    [ngClass]="{'border-red-500': talkForm.get('name')?.invalid && talkForm.get('name')?.touched}"
                  >
                  <label 
                    for="name" 
                    class="pointer-events-none absolute top-12 left-6 -mt-3 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:top-10 peer-focus:-translate-y-1/2 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-green-950 peer-[:not(:placeholder-shown)]:-translate-y-1/2 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-green-950"
                  >
                    Name *
                  </label>
                  <div *ngIf="talkForm.get('name')?.invalid && talkForm.get('name')?.touched" class="mt-1 text-sm text-red-600">
                    {{ getFieldError('name') }}
                  </div>
                </div>

                <!-- Email Field -->
                <div class="group relative z-0 transition-all focus-within:z-10">
                  <input 
                    id="email" 
                    formControlName="email"
                    autocomplete="email" 
                    required 
                    placeholder=" " 
                    class="peer block w-full border border-neutral-300 bg-transparent px-6 pt-12 pb-4 text-base/6 text-green-950 ring-4 ring-transparent transition group-first:rounded-t-2xl group-last:rounded-b-2xl focus:border-green-950 focus:ring-green-950/5 focus:outline-none" 
                    type="email"
                    [ngClass]="{'border-red-500': talkForm.get('email')?.invalid && talkForm.get('email')?.touched}"
                  >
                  <label 
                    for="email" 
                    class="pointer-events-none absolute top-12 left-6 -mt-3 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:top-10 peer-focus:-translate-y-1/2 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-green-950 peer-[:not(:placeholder-shown)]:-translate-y-1/2 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-green-950"
                  >
                    Email *
                  </label>
                  <div *ngIf="talkForm.get('email')?.invalid && talkForm.get('email')?.touched" class="mt-1 text-sm text-red-600">
                    {{ getFieldError('email') }}
                  </div>
                </div>

                <!-- Affiliation Field -->
                <div class="group relative z-0 transition-all focus-within:z-10">
                  <input 
                    id="affiliation" 
                    formControlName="affiliation"
                    autocomplete="organization" 
                    placeholder=" " 
                    class="peer block w-full border border-neutral-300 bg-transparent px-6 pt-12 pb-4 text-base/6 text-green-950 ring-4 ring-transparent transition group-first:rounded-t-2xl group-last:rounded-b-2xl focus:border-green-950 focus:ring-green-950/5 focus:outline-none" 
                    type="text"
                  >
                  <label 
                    for="affiliation" 
                    class="pointer-events-none absolute top-12 left-6 -mt-3 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:top-10 peer-focus:-translate-y-1/2 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-green-950 peer-[:not(:placeholder-shown)]:-translate-y-1/2 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-green-950"
                  >
                    Affiliation
                  </label>
                </div>

                <!-- Bio Field -->
                <div class="group relative z-0 transition-all focus-within:z-10">
                  <textarea 
                    id="aboutYourself" 
                    formControlName="aboutYourself"
                    name="aboutYourself" 
                    rows="4" 
                    required 
                    placeholder=" " 
                    class="peer block w-full border border-neutral-300 bg-transparent px-6 pt-12 pb-4 text-base/6 text-green-950 ring-4 ring-transparent transition group-first:rounded-t-2xl group-last:rounded-b-2xl focus:border-green-950 focus:ring-green-950/5 focus:outline-none"
                    [ngClass]="{'border-red-500': talkForm.get('aboutYourself')?.invalid && talkForm.get('aboutYourself')?.touched}"
                  ></textarea>
                  <label 
                    for="aboutYourself" 
                    class="pointer-events-none absolute top-12 left-6 -mt-3 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:top-10 peer-focus:-translate-y-1/2 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-green-950 peer-[:not(:placeholder-shown)]:-translate-y-1/2 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-green-950"
                  >
                    Tell us about yourself *
                  </label>
                  <div *ngIf="talkForm.get('aboutYourself')?.invalid && talkForm.get('aboutYourself')?.touched" class="mt-1 text-sm text-red-600">
                    {{ getFieldError('aboutYourself') }}
                  </div>
                </div>

                <!-- Research Title Field -->
                <div class="group relative z-0 transition-all focus-within:z-10">
                  <input 
                    id="researchTitle" 
                    formControlName="researchTitle"
                    required 
                    placeholder=" " 
                    class="peer block w-full border border-neutral-300 bg-transparent px-6 pt-12 pb-4 text-base/6 text-green-950 ring-4 ring-transparent transition group-first:rounded-t-2xl group-last:rounded-b-2xl focus:border-green-950 focus:ring-green-950/5 focus:outline-none" 
                    type="text"
                    [ngClass]="{'border-red-500': talkForm.get('researchTitle')?.invalid && talkForm.get('researchTitle')?.touched}"
                  >
                  <label 
                    for="researchTitle" 
                    class="pointer-events-none absolute top-12 left-6 -mt-3 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:top-10 peer-focus:-translate-y-1/2 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-green-950 peer-[:not(:placeholder-shown)]:-translate-y-1/2 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-green-950"
                  >
                    Research title *
                  </label>
                  <div *ngIf="talkForm.get('researchTitle')?.invalid && talkForm.get('researchTitle')?.touched" class="mt-1 text-sm text-red-600">
                    {{ getFieldError('researchTitle') }}
                  </div>
                </div>

                <!-- Research Abstract Field -->
                <div class="group relative z-0 transition-all focus-within:z-10">
                  <textarea 
                    id="researchAbstract" 
                    formControlName="researchAbstract"
                    name="researchAbstract" 
                    rows="4" 
                    required 
                    placeholder=" " 
                    class="peer block w-full border border-neutral-300 bg-transparent px-6 pt-12 pb-4 text-base/6 text-green-950 ring-4 ring-transparent transition group-first:rounded-t-2xl group-last:rounded-b-2xl focus:border-green-950 focus:ring-green-950/5 focus:outline-none"
                    [ngClass]="{'border-red-500': talkForm.get('researchAbstract')?.invalid && talkForm.get('researchAbstract')?.touched}"
                  ></textarea>
                  <label 
                    for="researchAbstract" 
                    class="pointer-events-none absolute top-12 left-6 -mt-3 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:top-10 peer-focus:-translate-y-1/2 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-green-950 peer-[:not(:placeholder-shown)]:-translate-y-1/2 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-green-950"
                  >
                    Research abstract or summary *
                  </label>
                  <div *ngIf="talkForm.get('researchAbstract')?.invalid && talkForm.get('researchAbstract')?.touched" class="mt-1 text-sm text-red-600">
                    {{ getFieldError('researchAbstract') }}
                  </div>
                </div>

                <!-- Paper Link Field -->
                <div class="group relative z-0 transition-all focus-within:z-10">
                  <input 
                    id="paperLink" 
                    formControlName="paperLink"
                    placeholder=" " 
                    class="peer block w-full border border-neutral-300 bg-transparent px-6 pt-12 pb-4 text-base/6 text-green-950 ring-4 ring-transparent transition group-first:rounded-t-2xl group-last:rounded-b-2xl focus:border-green-950 focus:ring-green-950/5 focus:outline-none" 
                    type="url"
                  >
                  <label 
                    for="paperLink" 
                    class="pointer-events-none absolute top-12 left-6 -mt-3 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:top-10 peer-focus:-translate-y-1/2 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-green-950 peer-[:not(:placeholder-shown)]:-translate-y-1/2 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-green-950"
                  >
                    Link to paper (optional)
                  </label>
                </div>
              </div>

              <div class="mt-10">
                <button 
                  type="submit" 
                  class="inline-flex h-12 items-center justify-center rounded-2xl px-6 py-3 bg-green-600 text-base font-semibold text-white hover:bg-green-500 focus:outline-hidden focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-500 active:bg-green-700 transition-colors duration-200 disabled:opacity-70 disabled:cursor-not-allowed w-full sm:w-auto"
                  [disabled]="isSubmitting() || !talkForm.valid"
                >
                  <span *ngIf="!isSubmitting()">Submit Talk</span>
                  <span *ngIf="isSubmitting()" class="flex items-center justify-center">
                    <svg class="animate-spin -ml-1 mr-2 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                    </svg>
                    Submitting...
                  </span>
                </button>
                
                <!-- Success Message -->
                <div *ngIf="submitSuccess()" class="mt-4 p-4 bg-green-50 border border-green-200 rounded-lg">
                  <div class="flex">
                    <div class="flex-shrink-0">
                      <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                      </svg>
                    </div>
                    <div class="ml-3">
                      <p class="text-sm font-medium text-green-800">Your talk has been submitted successfully!</p>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

  <app-footer></app-footer>
</div>
