// Header component styles
header {
  will-change: transform;
  max-width: 1400px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.8);
  
  .header-container {
    max-width: 1400px;
  }
}
